.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root {
  --main-bg-color: purple;
}

a {
  text-decoration: none;
  color: #fff;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.footer {
  background: var(--main-bg-color);
  padding: 30px 0;
  color: white;
}

.header {
  background: var(--main-bg-color);
  padding: 30px 0;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;

  background: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 25px;
  color: #000;
  text-decoration: none;
}
.nav-list {
  display: flex;
  list-style: none;
  color: #fff;
}
.nav-list__item {
  margin-left: 15px;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.main {
  padding: 120px 0;
  flex-grow: 1;
}
